.row-ellipsis td:nth-child(2) {
  max-width: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table tbody tr .v-data-table__mobile-row {
  overflow: auto !important;
  max-width: none !important; 
  white-space: normal !important; 
}

.row-ellipsis td:nth-child(2) div:nth-child(2) {
  max-width: calc(100vw - 150px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}