.v-main__wrap{
  display: flex;
  flex-direction: column;
}

.v-footer{
  width: 100%;
  margin-top: auto;


}

.v-footer div:first-child {
  width: 100%;
}

.v-application p, strong, span {
  margin-bottom: 3px;
  color: black;
}

.v-application svg {
  fill: black;
}

.v-card__text{
  padding: 8px;
}

footer i.v-icon.v-icon {
  color: #353634 !important;
} 

footer i.v-icon.v-icon:hover {
  color: #4b7fce !important;
} 

.v-btn__content a {
  text-decoration: none;
}

